{% extends 'index.html' %}

{% block body %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username</label><br>
        <input class="" type="text" name="username" placeholder=""><br>
    </div>
    <div class="form-group">
        <label for="password">Password</label><br>
        <input class="" type="password" name="password" placeholder=""><br>

    </div>
    <button type="submit" class="btn btn-success">Login</button>
</form>

{% if login_error %}
<div class="alert alert-danger">
    {{ login_error }}
</div>

{% endif %}
{% endblock  %}