<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

{% include 'includes/header.html' %}

<p>
    <a href="/all_matches/">Все матчи</a>
</p>

<p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document">
        <button type="submit" name="upload_btn" value="Upload">Upload File</button>
    </form>
</p>

<p>
    <form method="get">
        <button type="submit" name="delete_btn" value="Delete">Удалить все матчи</button>
    </form>
</p>

{% block body %}


{% endblock %}

</body>
</html>