<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      {% if not request.user.is_authenticated %}
          <p class="nav-item" style="margin-right:20px">
            <a class="btn btn-outline-success" href="{% url 'register' %}">Sign in</a>
          </p>
          <p class="nav-item">
              <a class="btn btn-outline-success" href="{% url 'login' %}">Login</a>
          </p>
        {% else %}
      <a class="navbar-brand" href="{% url 'matches:all-matches' %}">All matches</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'matches:load-excel' %}" style="margin-left:20px">Load excel<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'matches:filters' %}" style="margin-left:20px">Filters<span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'matches:add-match' %}" style="margin-left:20px">Add Match<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}" style="margin-left:20px">Log out ({{ request.user.username }})</a>
          </li>
        </ul>
      </div>
      {% endif %}
    </nav>

    <!--<nav>-->
        <!--<button>Главная</button>-->

        <!--<button>Log in</button>-->

        <!--<button>Log out</button>-->

    <!--</nav>-->
</header>